{% extends 'layout.html' %}

{% load static %}

{% block title %}
admin Deposit
{% endblock title %}


{% block links %}

{% endblock links %}



{% block body %}
<div id="result">

	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}

<h1>Deposit Form</h1>
<form id="search-form" action="" method="post" > 
        <!-- <input type="text" id="transaction-id" placeholder="Enter Transaction ID" name="transaction_id"> -->
		{% csrf_token %}

		<label for="transaction_id">Get Transaction ID:</label>
		{{ form.as_p }}
        <button type="button" id="search-button" hx-POST="{% url 'get_transaction' %}" hx-target="#result">Search</button>
    </form>
    <div id="result"></div>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</div>
{% endblock body %}
