<!-- searches for a unique id and returns the database for that id and then a deposit form is displayed -->
<!-- ```html -->

{% extends 'layout.html' %}

{% load static %}

{% block title %}
admin Deposit
{% endblock title %}


{% block links %}

{% endblock links %}



{% block body %}

<h1>Deposit Form</h1>
<form id="search-form" action="" method="post" > 
        <!-- <input type="text" id="transaction-id" placeholder="Enter Transaction ID" name="transaction_id"> -->
		{% csrf_token %}

		<label for="transaction_id">Transaction ID:</label>
		{{ transaction_id_form.as_p }}
        <button type="button" id="search-button" hx-POST="{% url 'get_transaction' %}" hx-target="#result">Search</button>
    </form>
    <div id="result"></div>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>

{% endblock body %}
