{% extends 'layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block links %}
	<!-- <link rel="stylesheet" href="{% static 'styles/login.css' %}"> -->
	<link rel="stylesheet" href="{% static 'styles/adminDashboard.css' %}">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
{% endblock links %}

{% block body %}
<!--  -->
	<!-- message -->
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}
<h1>Dashboard</h1>
	<p>Welcome to the dashboard</p>
	<p>recommended users: {{recommended_users}} </p>


	{% if user %}

	<p>User: {{user}}</p>
	
	{% else %}

		<p>user: (null)</p>
	
	{% endif %}

{% if referral_bonus %}

	<p>Referral bonus: {{referral_bonus}}</p>
	
{% else %}

<p>Referral bonus: {{referral_bonus}}</p>
	
{% endif %}


{% if user_profile %}

	<p>	balance:{{user_profile.UserAccount.balance}}</p><br>

<p>Referral link:</p>

<p> 

<span id="referralLink" >http://192.168.16.107:2022/auth/register/{{user_profile.code}}</span>

<span style="cursor:pointer;" onclick="copyText()" class="material-icons-outlined">copy</span><br>

</p>

{% else %}
	
	<h4>(null)</h4>

{% endif %}


<a href="{% url "transactions_id" %}" ><span style="color: green;" class="material-icons-outlined">arrow_circle_down</span></a>

		  <a href="{% url "logout" %}">

			  <span style="color: red;" class="material-icons-outlined">

				  logout

			  </span>
		  </a>


{% block script %}
<script>
function copyText() {
  var copyText = document.getElementById("referralLink");
  var textArea = document.createElement("textarea");
  textArea.value = copyText.textContent;
  document.body.appendChild(textArea);
  textArea.select();
  document.execCommand("copy");
  document.body.removeChild(textArea);
  alert("Copied the text: " + copyText.textContent);
}
</script>
{% endblock script %}

{% endblock body %}

