{% extends 'layout.html' %}

{% load widget_tweaks %}

{% load static %}

{% block links %}
	<!-- <link rel="stylesheet" href="{% static 'styles/login.css' %}"> -->
	<link rel="stylesheet" href="{% static 'styles/adminDashboard.css' %}">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
{% endblock links %}

{% block title %}

Deposit

{% endblock %}

{% block body %}

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Paste Transaction ID</h2>
			<form method="POST" action="{% url 'transactions_id' %}">
				{% csrf_token %}
				<div class="form-group">
					<p> 
						<label for="amount">Copy Number </label><br>
						<span id="referralLink" >0714025354</span>
						<span style="cursor:pointer;" onclick="copyText()" class="material-icons-outlined">copy</span>
						<br>
						<label for="amount">Confirmation Name: JOHN KARANJA</label><br>


</p>

					<label for="amount">Payment Transaction ID</label><br>
					{% render_field form.transactions_id class='form-control' placeholder='Transaction id' %}
					<br>
					<label for="amount">Confirmation Name</label><br>
					{% render_field form.name class='form-control' placeholder='confirmation name' %}
<br>
<label for="amount">Amount Paid</label><br>
					{% render_field form.amount_paid class='form-control' placeholder='Amount' %}
<br>
				</div>
				<button type="submit" class="btn btn-primary">submit</button>
			</form>
		</div>
	</div>
</div>
<a href="{% url 'dashboard' %}">Back</a>
<script>
function copyText() {
  var copyText = document.getElementById("referralLink");
  var textArea = document.createElement("textarea");
  textArea.value = copyText.textContent;
  document.body.appendChild(textArea);
  textArea.select();
  document.execCommand("copy");
  document.body.removeChild(textArea);
  alert("Number Copied: " + copyText.textContent + ", You can now paste it.");
}
</script>

{% endblock body %}
